@{
  Layout = "_Layout";
}

@model Dealerships.Models.Makes
@using Dealerships.Models

<h4>Add a new Manufacturer</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add new Make" />
}
<p>@Html.ActionLink("Show all makes", "Index")</p>